<div class="alignclass">
  <div class="navbar navbar-expand-lg navbar-light">
    <div
      class="card myclass shadow-lg p-3 mb-5 bg-white rounded"
      style="width: 18rem"
    >
      <img src="assets/calc.jpg" class="card-img-top" alt="calc" height="180" />
      <div class="card-body">
        <h5 class="card-title">Calculator</h5>
        <p class="card-text">Basic calculator for arithmetic operation</p>
        <a routerLink="/calculator" class="btn btn-success">Go &rarr;</a>
      </div>
    </div>
    <div
      class="card myclass shadow-lg p-3 mb-5 bg-white rounded"
      style="width: 18rem"
    >
      <img
        src="assets/form.jfif"
        class="card-img-top"
        alt="calc"
        height="180"
      />
      <div class="card-body">
        <h5 class="card-title">User Form</h5>
        <p class="card-text">Simple form to get user Detials with validation</p>
        <a routerLink="/userform" class="btn btn-success">Go &rarr;</a>
      </div>
    </div>
    <div
      class="card myclass shadow-lg p-3 mb-5 bg-white rounded"
      style="width: 18rem"
    >
      <img src="assets/api.jpg" class="card-img-top" alt="calc" height="180" />
      <div class="card-body">
        <h5 class="card-title">Dummy API</h5>
        <p class="card-text">Basic API call to fetch some user details</p>
        <a routerLink="/dummyapi" class="btn btn-success">Go &rarr;</a>
      </div>
    </div>
  </div>
</div>
