.myclass {
  padding: 5px;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.alignclass {
  padding: 5%;
}
.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
